// General

html,
body,
#root {
  height: 100%;
}

// Colors

$color__royal-blue-dark: #03256c;
$color__denim-blue: #2541b2;
$color__saphire-blue: #1768ac;
$color__vivid-sky-blue: #06bee1;
$color__white: #ffffff;

// Typography

.h1 {
  font-family: 'Harmattan', sans-serif;
  font-size: 3rem;
  color: $color__saphire-blue;
}

.h2 {
  font-family: 'Harmattan', sans-serif;
  font-size: 2rem;
  color: $color__saphire-blue;
}
