amqp==5.0.6
asgiref==3.4.1
attrs==21.2.0
backcall==0.2.0
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
decorator==5.0.9
fastapi==0.68.0
greenlet==1.1.1
h11==0.12.0
idna==3.2
iniconfig==1.1.1
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
kombu==5.1.0
logassert==6
matplotlib-inline==0.1.2
numpy==1.21.1
opencv-python==4.5.3.56
packaging==21.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pydantic==1.8.2
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.19.0
pytz==2021.1
redis==3.5.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.22
starlette==0.14.2
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
vine==5.0.0
wcwidth==0.2.5
