asgiref==3.4.1
attrs==21.2.0
click==8.0.1
fastapi==0.66.0
h11==0.12.0
httptools==0.2.0
iniconfig==1.1.1
numpy==1.21.0
opencv-python==4.5.3.56
packaging==21.0
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.18.0
PyYAML==5.4.1
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
uvloop==0.15.3
watchgod==0.7
websockets==9.1
