asgiref==3.4.1
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.1
click==8.0.1
fastapi==0.66.0
h11==0.12.0
httptools==0.2.0
idna==3.2
iniconfig==1.1.1
numpy==1.21.0
opencv-python==4.5.3.56
packaging==21.0
Pillow==8.3.1
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.18.0
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
uvloop==0.15.3
watchgod==0.7
websockets==9.1
