POSTGRES_CONNECTION_URL = "db+postgresql+psycopg2://job_orchestrator:p@postgres:5432/jobs"
MIGRATIONS_CONNECTION_URL = "postgresql+psycopg2://job_orchestrator:p@postgres:5432/jobs"

BROKER_URL = "redis://host:6379/0"

RECIPIENT = "0xc043945B556B526689270d87A7ac58B286F31308"
